<div class="front-page">

<% if @posts.count==0 %>
  <div id="no_posts">No posts.</div>
<% else %>


  <div id="time_header">
    <h1>Posts from <%=numeric_date_and_time(@posts.first.published_at)%>
        back to <%=numeric_date_and_time(@posts.last.published_at)%></h1>
    <%-if @newer_time %>
      <div class="link"><a href="/after/<%=@newer_time%>">Newer</a></div>
    <%-end %>
    <%-if @older_time %>
      <div class="link"><a href="/before/<%=@older_time%>">Older</a></div>
    <%-end %>
  </div>


<% @posts.each{|p| %>
   <% @post = p %>
   <%=render 'shared/post'%>
<% } %>


  <%-if @older_time %>
  <div id="time_footer">
    <div class="link"><a href="/before/<%=@older_time%>">Older</a></div>
  </div>
  <%-end %>


<% end %>
</div>
