<%= form_for(@post, url: "/admin/posts/#{@post.id}", html:{class: "field_list"}) do |f| %>

  <%=emit_form_errors(@post)%>

<div class="field">
  <%=f.label :headline %>
  <%=f.text_field :headline %>
</div>

<div class="field">
  <%=f.label :markup_type %>
  <%=f.select(:markup_type,Post::MARKUP_TYPES)%>
</div>

<div class="field">
  <label for="is_published">Published?</label>
  <input type="checkbox" name="is_published" id="is_published" <%="checked" unless @post.published_at.nil?%> />
</div>

<!--
<div class="field">
  <%= f.label :tags %>
  <input id="post_tags" name="post[tags]" type="text" value="ignored">
</div>
-->

<div class="field">
  <%=f.label :content %>
  <%=f.text_area :content %>
</div>

<div class="action">
<%= f.submit %>
</div>

<% end %>

