<%= form_for(@post) do |f| %>

  <%=emit_form_errors(@post)%>

<div>
  <%=f.label :headline %>
  <%=f.text_field :headline %>
</div>

<div>
  <%=f.label :content %>
  <%=f.text_area :content %>
</div>

<div>
  <label for="is_published">Published?</label>
  <input type="checkbox" name="is_published" id="is_published" <%="checked" unless @post.published_at.nil?%> />
</div>

<%= f.submit %>

<% end %>

