<!DOCTYPE html>
<html>
<head>
<title>GrantB.net<%= "- #{@page_title}" if @page_title %></title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body class="adminbody">

<% unless Rails.env.production? %>
<div class="platform_notice"><%=Rails.env.upcase%></div>
<% end %>

<div class="content">

<% if @current_user %>
	<div id="userbox">
		<div class="userline">Hello, <%=@current_user.username%></div>
		<div class="command"><%=link_to "Go back to public", root_path%></div>
		<div class="logout"><%=link_to "Log out", logout_path%></div>
	</div>
<% end %>


<div id="header-crumbs">
<h1><a href="/admin">GrantB.net Administration</a></h1>
<%if @controller_crumb%><h2><%=link_to @controller_crumb[:label], @controller_crumb[:path]%></h2><%end%>
<%if @action_crumb%><h3><%=@action_crumb%></h3><%end%>
</div>


<% flash.each do |k, v| %>
	<% alert_class = (k == :error ? "alert-error" : "alert") %>
	<div class="<%= alert_class %>" id="<%= k %>"><%= v %></div>
<% end %>


<div class="main">
<%= yield %>
</div><!--main-->



</div><!-- content -->
</body>
</html>
