<!DOCTYPE html>
<html>
<head>
<title>GrantB.net<%= "- #{@page_title}" if @page_title %></title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body id="blogbody">
<div class="content">

<% if @current_user %>
	<div id="userbox">
		Hello, <%=@current_user.username%><br/>
		<ul>
		<li><%=link_to "Admin menu", admin_path %></li>
		</ul>
		<div class="logout"><%=link_to "Log out", logout_path%></div>
	</div>
<% end %>

<% flash.each do |k, v| %>
	<% alert_class = (k == :error ? "alert alert-error" : "alert") %>
	<div class="<%= alert_class %>" id="<%= k %>"><%= v %></div>
<% end %>


<div class="main_wrap">
<div class="main">
<%= yield %>
</div></div><!--main-->


<div class="sidebar">
<div class="about">
<h1><a href="/">GRANTB.NET</a></h1>
Grant Birchmeier
<hr/>
Topics may include programming, spaghetti westerns, classic console games,
kung fu flicks, or giant cartoon robots.
<hr/>
I'm from Michigan, but I live in Chicago's suburbs.
</div><!--about-->

<div class="recent">
<h2>Other recent posts:</h2>
<% Post.recent(3).each {|post| %>
<div class="entry">
<div class="headline"><a href="#{post_path(post)}"><%=post.headline%></a></div>
<div class="published_at"><%=post.short_pub_date%></div>
</div>
<% } %>
<div class="archive"><%=link_to "Archive", posts_path%></div>
</div><!--recent-->
</div><!--sidebar-->


</div><!-- site_content -->
</body>
</html>
