<!DOCTYPE html>
<html>
<head>
  <title>GrantbBlog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


    <div class="container"><!-- main content container -->
        <% flash.each do |k, v| %>
          <% alert_class = (k == :error ? "alert alert-error" : "alert") %>
          <div class="<%= alert_class %>" id="<%= k %>"><%= v %></div>
        <% end %>
      <%= yield %>
    </div><!-- main content container -->


</body>
</html>
